{% extends "layout.html" %}

{% block body %}
<ul>
  <li><a href="{{ url_for('messages_count') }}">Count how many messages each user has written</a></li>
  <li><a href="{{ url_for('messages_filter') }}">Filter the messages by a category</a></li>
<br>
{% if filtered %}
<h3>Category: {{ category }}</h3>
{% else %}
<h3>Messages</h3>
{% endif %}
  <hr>
    {% for message in message.items %}
    <table>
    <tr>
      <td><a href="{{ url_for('messages_view_message', 
        message_id=message.id, 
        writer_id=message.account_id, category_id=message.category_id) }}">{{ message.name }}</a></td>
    </tr>
    </table>
    <table>
    <tr>
        {% for user in account %}
        {% if user.id==message.account_id %}
        <td>{{ user.name }}</td>
        {% endif %}
      {% endfor %}
      <td>{{ message.date_created }}</td>
    </tr>
    </table>
    <hr>
    {% endfor %}
    {% for page_num in message.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if message.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('messages_index', page=page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('messages_index', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
      ...
      {% endif %}
    {% endfor %}
</ul>
<br>
<br>
{% endblock %}
