{% extends "layout.html" %}

{% block body %}
<ul>
  <li><a href="{{ url_for('messages_count') }}">Count how many messages each user has written</a></li>
<br>
<h3>Messages</h3>
    {% for message in message %}
    <table>
    <tr>
      <td><a href="{{ url_for('messages_view_message', 
        message_id=message.id, 
        writer_id=message.account_id, category_id=message.category_id) }}">{{ message.name }}</a></td>
    </tr>
    </table>
    <table>
    <tr>
        {% for user in account %}
        {% if user.id==message.account_id %}
        <td>{{ user.name }}</td>
        {% endif %}
      {% endfor %}
      <td>{{ message.date_created }}</td>
    </tr>
  </table>
      <br>
    {% endfor %}
  </ul>
{% endblock %}
