  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('messages_create') }}">
    <table>
      
      <tr>
        <td>{{ form.name.label }}</td>
        <td>{{ form.name }}</td>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>{{ form.messagetext.label }}</td>
        <td>{{ form.messagetext }}</td>
        <td>
          <ul>
            {% for error in form.messagetext.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>{{ form.category_id.label }}</td>
        <td>{{ form.category_id }}</td>
        <td>
          <ul>
            {% for error in form.category_id.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Add a new message"/>
        </td>
      </tr>
  </form>
  {% endblock %}
