{% extends "layout.html" %}

{% block body %}
<body>
<ul>
    <a href="{{ url_for('messages_index') }}"><— Back</a>
    <h3>{{ message.name }}</h3>
    <table>
        {% if category.id == 1 %}
        No category
        {% else %}
        Category: {{ category.name }}
        {% endif %}
        <tr>
          <td><p>{{ account.name }}  {{ message.date_created }}</p></td>
        </tr>
    </table>
    <table>
        <tr>
            
        </tr>
    </table>
    <p>{{ message.messagetext }}</p>
    {% if message.date_created != message.date_modified %}
    <p>(Edited {{message.date_modified}})</p>
    {% endif %}
    {% if likes %}
    <p>Likes: {{ likes }}</p>
    {% else %}
    <p>Likes: 0</p>
    {% endif %}
    <table>
        {% if current_user.is_authenticated %}
        <td>
          <form method="POST" action="{{ url_for('likes_like', message_id=message.id) }}">
            <input type="submit" value="Like/Remove your like"/>
          </form>
        </td>
        <td>
          <form method="POST" action="{{ url_for('answers_form', message_id=message.id) }}">
            <input type="submit" value="Add an answer"/>
          </form>
        </td>
        {% if current_user.id==message.account_id %}
        <td>
          <form method="POST" action="{{ url_for('messages_delete', message_id=message.id) }}">
            <input type="submit" value="Delete message"/>
          </form>
        </td>
        <td>
          <form method="POST" action="{{ url_for('messages_edit_form', message_id=message.id) }}">
            <input type="submit" value="Edit message"/>
          </form>
        </td>
        {% else %}
          {% if current_user.id==1 %}
          <td>
            <form method="POST" action="{{ url_for('messages_delete', message_id=message.id) }}">
              <input type="submit" value="Delete message"/>
            </form>
          </td>
          {% endif %}
        {% endif %}
      {% endif %}
    </table>

    <br>

    <h4>Answers</h4>
    {% for answer in answers %}
    <table>
      {% for writer in answerwriters %}
      {% if writer.id == answer.account_id %}
      <tr>
        <td><p>{{ writer.name }} {{ answer.date_created }}</p></td>
      </tr>
      {% endif %}
      {% endfor %}
      <tr>
        <td>{{ answer.answertext }}</td>
      </tr>
      {% if current_user.is_authenticated %}
      {% if current_user.id==answer.account_id %}
      </table>
      <table>
      <td>
        <form method="POST" action="{{ url_for('answers_edit_form', 
        answer_id=answer.id) }}">
          <input type="submit" value="Edit"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('answers_delete', 
        answer_id=answer.id, message_id=message.id, 
        writer_id=message.account_id, 
        category_id=category.id) }}">
          <input type="submit" value="Delete answer"/>
        </form>
      </td>
      {% else %}
        {% if current_user.id==1 %}
        <td>
          <form method="POST" action="{{ url_for('answers_delete', 
        answer_id=answer.id, message_id=message.id, 
        writer_id=message.account_id, 
        category_id=category.id) }}">
          <input type="submit" value="Delete answer"/>
        </form>
        </td>
        {% endif %}
      {% endif %}
    {% endif %}
    </table>
    <hr>
    {% endfor %}
</ul>
<br>
<br>
</body>
{% endblock %}